.blog
    .blog__header
        br
        h2 Our Blog
        p.bottom_parag Here's where we address the burning questions. From new tech, creative inspiration and new business wins to movie reviews. It's all here in our journal. 
hr

.blog_main
    .blog_main__box
        h3 g+ notifications icon position in Chrome makes me screeaaaaam :)
        p December 17, 2014

    .blog_main__box
        h3 Pointers on Product Development
        p August 19, 2014

    .blog_main__box
        h3 The Art of Vulnerable Development
        p July 09, 2014

    .blog_main__box
        h3 Project Managers - are they the evolutionary “pinkie toe”of development?
        p June 19, 2014

    .blog_main__box
        h3 $50,000 Competition Winner - Ziteboard
        p June 06, 2014

    .blog_main__box
        h3 A New Project Begins...
        p May 30, 2014

    .blog_main__box
        h3 Competition Spirit
        p May 27, 2014

    .blog_main__box
        h3 agile. With a little "a".
        p May 15, 2014

    .blog_main__box
        h3 Sun Tzu, Modern Businessman
        p May 13, 2014

    .blog_main__box
        h3 Ideas from Non-Tech Professionals
        p May 01, 2014

    .blog__btn
        .button &larr; Previous 
        .button Next &rarr;

.blogbottom
    br
    h4 Want to start the conversation?
    img(src="img/bottombtn.png" class="main__contactbtn")

