
<STYLE>A {text-decoration: none;} </STYLE>
.topsection
    .container   
        header.header
            img(src="img/logo.png" class="logo")
            nav.nav
                <a href="home.pug">Our Approuch</a>
                <a href="work.pug">See Our Work</a>
                <a href="blog.pug">Our Blog</a>
                <a href="contact.pug">Contact Us</a>
        .title
            h5 Radically Transparent <br> <span class="title__highlight"> Web and Mobile</span> Development
    .scroll
        img(src="img/scroll.png" class="scrollicon")
    h7 Scroll Down To See More

.main
    .main__about
        br
        h2 We build applications for people
        p.main_parag Watching your idea develop into a valuable application should be fun, not daunting. Our approach makes you an integral part of the process while improving your tech along the way.

    .main__clients
        h6 Some of Our Dear Clients

    .grid
        .grid__item.grid__item
            img(src="logo/1.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/2.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/3.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/4.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/5.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/6.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/7.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/8.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/9.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/10.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/11.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/12.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/13.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/14.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/15.png", class="grid__img")
        .grid__item.grid__item
            img(src="logo/16.png", class="grid__img")
    
    h6 Want to start the conversation?
    img(src="img/contactbtn.png" class="main__contactbtn")

.bottom
    .bottom__about
        br
        h2 Digital Expertise
        p.bottom_parag We have managed every facet of development from ideation to launch and use our experience to solve problems before they arise. Our design-oriented approach ensures your software will feel like home to your users, whether you have one or one million. 
        
        h6 Want to start the conversation?
        img(src="img/bottombtn.png" class="main__contactbtn")

