.work
    .work__header
        br
        h2 Our Work
        p.bottom_parag We have a solid track record of delivering great results - on time and on budget. Here are just a few of our recent wins.. 

.gridwrk
    .gridwrk__item
        img(src="img/work1.png", class="gridwrk__img")
    .gridwrk__item.gridwrk__item2
        img(src="img/work2.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work3.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work4.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work5.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work6.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work7.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work8.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work9.png", class="gridwrk__img")
    .gridwrk__item
        img(src="img/work10.png", class="gridwrk__img")

.workbottom
    br
    h4 Want to start the conversation?
    img(src="img/bottombtn.png" class="main__contactbtn")

